##  **The Data-cleaning process using the pure Python pandas library** ##
**Dataset - 1**

We need to import **Pandas** and **Numpy** **Library**

In [301]:
# importing libraries
import numpy as np
import pandas as pd

Now, Load the data set in Collab

In [302]:
data = pd.read_csv("/content/Data-cleaning-for-beginners-using-pandas.csv")

In [303]:
data

    Index   Age      Salary  Rating       Location  Established Easy Apply
0       0  44.0   $44k-$99k     5.4       India,In         1999       TRUE
1       1  66.0   $55k-$66k     3.5    New York,Ny         2002       TRUE
2       2   NaN   $77k-$89k    -1.0    New York,Ny           -1         -1
3       3  64.0   $44k-$99k     4.4       India In         1988         -1
4       4  25.0   $44k-$99k     6.4  Australia Aus         2002         -1
5       5  44.0   $77k-$89k     1.4       India,In         1999       TRUE
6       6  21.0   $44k-$99k     0.0    New York,Ny           -1         -1
7       7  44.0   $44k-$99k    -1.0  Australia Aus           -1         -1
8       8  35.0   $44k-$99k     5.4    New York,Ny           -1         -1
9       9  22.0   $44k-$99k     7.7       India,In           -1       TRUE
10     10  55.0   $10k-$49k     5.4       India,In         2008       TRUE
11     11  44.0   $10k-$49k     6.7       India,In         2009         -1
12     12   NaN   $44k-$99k     0.0       India,In         1999         -1
13     13  25.0   $44k-$99k    -1.0  Australia Aus         2019       TRUE
14     14  66.0   $44k-$99k     4.0  Australia Aus         2020       TRUE
15     15  44.0  $88k-$101k     3.0  Australia Aus         1999         -1
16     16  19.0   $19k-$40k     4.5       India,In         1984         -1
17     17   NaN   $44k-$99k     5.3    New York,Ny         1943       TRUE
18     18  35.0   $44k-$99k     6.7    New York,Ny         1954       TRUE
19     19  32.0   $44k-$99k     3.3    New York,Ny         1955       TRUE
20     20   NaN   $44k-$99k     5.7    New York,Ny         1944       TRUE
21     21  35.0   $44k-$99k     5.0    New York,Ny         1946         -1
22     22  19.0   $55k-$66k     7.8    New York,Ny         1988       TRUE
23     23   NaN   $44k-$99k     2.4    New York,Ny         1999       TRUE
24     24  13.0   $44k-$99k    -1.0    New York,Ny         1987         -1
25     25  55.0   $44k-$99k     0.0  Australia Aus         1980       TRUE
26     26   NaN   $55k-$66k     NaN       India,In         1934       TRUE
27     27  52.0   $44k-$99k     5.4       India,In         1935         -1
28     28   NaN   $39k-$88k     3.4  Australia Aus         1932         -1

As a data analyst, we need to know how many rows and columns are the in Dataset

In [304]:
data.shape

(29, 7)

In [305]:
data.columns

Index(['Index', 'Age', 'Salary', 'Rating', 'Location', 'Established',
       'Easy Apply'],
      dtype='object')

Obtain the data information from the data set.

In [306]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Index        29 non-null     int64
 1   Age          22 non-null     float64
 2   Salary       29 non-null     object
 3   Rating       28 non-null     float64
 4   Location     29 non-null     object
 5   Established  29 non-null     int64
 6   Easy Apply   29 non-null     object
dtypes: float64(2), int64(2), object(3)
memory usage: 1.7+ KB

In [307]:
data.isnull().sum()

Index          0
Age            7
Salary         0
Rating         1
Location       0
Established    0
Easy Apply     0
dtype: int64

**1. Missing Values:**

Question: Are there any missing values in the dataset, and if so, how should they be handled for each indicator?

In [354]:
avg_age = data['Age'].mean()
avg_age

39.035714285714285

In [355]:
data['Age'] = data.Age.fillna(avg_age)

In [356]:
# fill the missing values with mean
data['Age'] = data.Age.fillna(avg_age)
data['Age'] = data.Age.round(decimals=0)

In [ ]:
# remove $ from the salary column

data['Salary'] = data['Salary'].str.replace('$', '')

In [358]:
# remove $ from the salary column
data['Salary'] = data.Salary.str.replace("k","000")

In [359]:
# Using dataframe data: Remove the -1 values from Easily apply to Convert to False

data['Easy Apply'] = data['Easy Apply'].replace('-1',"FALSE")

In [360]:
# Using dataframe data: In establish column change -1 values to null.

data['Established'].fillna(value='NULL', inplace=True)

In [361]:
data['Rating'] = data.Rating.round(decimals = 1).abs().replace('Nan','0')
data = data.dropna(subset=['Rating'])

In [ ]:
data['Location'] = data['Location'].str.split(",", expand=True) [0].str.replace(r'\sAus', '').str.replace(r'\sIn', '')

In [363]:
data

    Index   Age        Salary  Rating   Location Established Easy Apply
0       0  44.0   44000-99000     5.4      India      1999.0       TRUE
1       1  66.0   55000-66000     3.5   New York      2002.0       TRUE
2       2  39.0   77000-89000     1.0   New York        NULL      FALSE
3       3  64.0   44000-99000     4.4      India      1988.0      FALSE
4       4  25.0   44000-99000     6.4  Australia      2002.0      FALSE
5       5  44.0   77000-89000     1.4      India      1999.0       TRUE
6       6  21.0   44000-99000     0.0   New York        NULL      FALSE
7       7  44.0   44000-99000     1.0  Australia        NULL      FALSE
8       8  35.0   44000-99000     5.4   New York        NULL      FALSE
9       9  22.0   44000-99000     7.7      India        NULL       TRUE
10     10  55.0   10000-49000     5.4      India      2008.0       TRUE
11     11  44.0   10000-49000     6.7      India      2009.0      FALSE
12     12  39.0   44000-99000     0.0      India      1999.0      FALSE
13     13  25.0   44000-99000     1.0  Australia      2019.0       TRUE
14     14  66.0   44000-99000     4.0  Australia      2020.0       TRUE
15     15  44.0  88000-101000     3.0  Australia      1999.0      FALSE
16     16  19.0   19000-40000     4.5      India      1984.0      FALSE
17     17  39.0   44000-99000     5.3   New York      1943.0       TRUE
18     18  35.0   44000-99000     6.7   New York      1954.0       TRUE
19     19  32.0   44000-99000     3.3   New York      1955.0       TRUE
20     20  39.0   44000-99000     5.7   New York      1944.0       TRUE
21     21  35.0   44000-99000     5.0   New York      1946.0      FALSE
22     22  19.0   55000-66000     7.8   New York      1988.0       TRUE
23     23  39.0   44000-99000     2.4   New York      1999.0       TRUE
24     24  13.0   44000-99000     1.0   New York      1987.0      FALSE
25     25  55.0   44000-99000     0.0  Australia      1980.0       TRUE
27     27  52.0   44000-99000     5.4      India      1935.0      FALSE
28     28  39.0   39000-88000     3.4  Australia      1932.0      FALSE

**2. Data Types:**

Question: What are the data types of each indicator, and do they align with their expected types (e.g., numerical, categorical)?

In [319]:
data.dtypes

Index            int64
Age            float64
Salary          object
Rating         float64
Location        object
Established      int64
Easy Apply      object
dtype: object

**3. Outliers:**

Question: Identify potential outliers in numerical indicators (e.g., Age, Salary, Rating). Should outliers be removed or adjusted?

In [320]:
data.dtypes

Index            int64
Age            float64
Salary          object
Rating         float64
Location        object
Established      int64
Easy Apply      object
dtype: object

In [369]:
Outlier = ['Age','Rating']
for i in Outlier:
    Q1 = data[i].quantile(0.25)
    Q3 = data[i].quantile(0.75)
    IQR = Q3 - Q1

    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    outliers = data[(data[i] < lower_bound) | (data[i] > upper_bound)]

    print(f"Potential Outliers in {i}: ")
    print(outliers)

Potential Outliers in Age:
    Index   Age       Salary  Rating   Location Established Easy Apply
1       1  66.0  55000-66000     3.5   New York      2002.0       TRUE
14     14  66.0  44000-99000     4.0  Australia      2020.0       TRUE
Potential Outliers in Rating:
Empty DataFrame
Columns: [Index, Age, Salary, Rating, Location, Established, Easy Apply]
Index: []

**4. Salary Formatting:**

Question: Examine the format of the Salary column. Does it require any formatting or standardization for consistent analysis?

In [322]:
data.Salary

0      44000-99000
1      55000-66000
2      77000-89000
3      44000-99000
4      44000-99000
5      77000-89000
6      44000-99000
7      44000-99000
8      44000-99000
9      44000-99000
10     10000-49000
11     10000-49000
12     44000-99000
13     44000-99000
14     44000-99000
15    88000-101000
16     19000-40000
17     44000-99000
18     44000-99000
19     44000-99000
20     44000-99000
21     44000-99000
22     55000-66000
23     44000-99000
24     44000-99000
25     44000-99000
27     44000-99000
28     39000-88000
Name: Salary, dtype: object

**5. Location Standardization:**

Question: Check the consistency of location entries. Do they need standardization, and how can this be achieved?

In [323]:
data['Location'].str.split(",", expand=True) [0]

0         India
1      New York
2      New York
3         India
4     Australia
5         India
6      New York
7     Australia
8      New York
9         India
10        India
11        India
12        India
13    Australia
14    Australia
15    Australia
16        India
17     New York
18     New York
19     New York
20     New York
21     New York
22     New York
23     New York
24     New York
25    Australia
27        India
28    Australia
Name: 0, dtype: object

**6. Established Column:**

Question: Explore the Established column. Are there any inconsistencies or anomalies that need to be addressed?

In [368]:
data['Established'].replace(-1, np.NaN, inplace=True)
data['Established']

0     1999.0
1     2002.0
2       NULL
3     1988.0
4     2002.0
5     1999.0
6       NULL
7       NULL
8       NULL
9       NULL
10    2008.0
11    2009.0
12    1999.0
13    2019.0
14    2020.0
15    1999.0
16    1984.0
17    1943.0
18    1954.0
19    1955.0
20    1944.0
21    1946.0
22    1988.0
23    1999.0
24    1987.0
25    1980.0
27    1935.0
28    1932.0
Name: Established, dtype: object

**7. Easy Apply Indicator:**

Question: Analyze the Easy Apply column. Does it contain boolean values or need transformation for better analysis

In [367]:
data['Easy Apply'] = data['Easy Apply'].replace('-1',"FALSE")
data['Easy Apply']

0      TRUE
1      TRUE
2     FALSE
3     FALSE
4     FALSE
5      TRUE
6     FALSE
7     FALSE
8     FALSE
9      TRUE
10     TRUE
11    FALSE
12    FALSE
13     TRUE
14     TRUE
15    FALSE
16    FALSE
17     TRUE
18     TRUE
19     TRUE
20     TRUE
21    FALSE
22     TRUE
23     TRUE
24    FALSE
25     TRUE
27    FALSE
28    FALSE
Name: Easy Apply, dtype: object

**8. Rating Range:**

Question: Investigate the range of values in the Rating column. Does it fall within expected rating scales, and how should outliers be treated?

In [366]:
data['Rating'] = data.Rating.round(decimals = 1).abs()
data['Rating']

0     5.4
1     3.5
2     1.0
3     4.4
4     6.4
5     1.4
6     0.0
7     1.0
8     5.4
9     7.7
10    5.4
11    6.7
12    0.0
13    1.0
14    4.0
15    3.0
16    4.5
17    5.3
18    6.7
19    3.3
20    5.7
21    5.0
22    7.8
23    2.4
24    1.0
25    0.0
27    5.4
28    3.4
Name: Rating, dtype: float64

**9. Age Distribution:**

Question: Check the distribution of values in the Age column. Are there any unusual entries, and how might they impact analysis?

In [365]:
# fill the missing values with mean
data['Age'] = data.Age.fillna(avg_age)
data['Age'] = data.Age.fillna(avg_age)
data['Age'] = data.Age.round(decimals=0)
data['Age']

0     44.0
1     66.0
2     39.0
3     64.0
4     25.0
5     44.0
6     21.0
7     44.0
8     35.0
9     22.0
10    55.0
11    44.0
12    39.0
13    25.0
14    66.0
15    44.0
16    19.0
17    39.0
18    35.0
19    32.0
20    39.0
21    35.0
22    19.0
23    39.0
24    13.0
25    55.0
27    52.0
28    39.0
Name: Age, dtype: float64

**10. Handling Special Characters:**

Question: Examine all text-based columns (e.g., Location). Are there special characters or inconsistencies that need cleaning?

In [371]:
# Using dataframe data: display Locations And salary column
data['Location'].str.split(",", expand=True) [0].str.replace(r'\sAus', '').str.replace(r'\sIn', '')
data[['Location', 'Salary']]

<ipython-input-371-e6f2ac0e57b1>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  data['Location'].str.split(",", expand=True) [0].str.replace(r'\sAus', '').str.replace(r'\sIn', '')

     Location        Salary
0       India   44000-99000
1    New York   55000-66000
2    New York   77000-89000
3       India   44000-99000
4   Australia   44000-99000
5       India   77000-89000
6    New York   44000-99000
7   Australia   44000-99000
8    New York   44000-99000
9       India   44000-99000
10      India   10000-49000
11      India   10000-49000
12      India   44000-99000
13  Australia   44000-99000
14  Australia   44000-99000
15  Australia  88000-101000
16      India   19000-40000
17   New York   44000-99000
18   New York   44000-99000
19   New York   44000-99000
20   New York   44000-99000
21   New York   44000-99000
22   New York   55000-66000
23   New York   44000-99000
24   New York   44000-99000
25  Australia   44000-99000
27      India   44000-99000
28  Australia   39000-88000

There is locations and salary Or special character to handle.

**11. Data Integrity:**

Question: Ensure data integrity by cross-referencing entries. For instance, does the Established column align with the Age column?

In [364]:
data[['Age', 'Established']]

     Age Established
0   44.0      1999.0
1   66.0      2002.0
2   39.0        NULL
3   64.0      1988.0
4   25.0      2002.0
5   44.0      1999.0
6   21.0        NULL
7   44.0        NULL
8   35.0        NULL
9   22.0        NULL
10  55.0      2008.0
11  44.0      2009.0
12  39.0      1999.0
13  25.0      2019.0
14  66.0      2020.0
15  44.0      1999.0
16  19.0      1984.0
17  39.0      1943.0
18  35.0      1954.0
19  32.0      1955.0
20  39.0      1944.0
21  35.0      1946.0
22  19.0      1988.0
23  39.0      1999.0
24  13.0      1987.0
25  55.0      1980.0
27  52.0      1935.0
28  39.0      1932.0

**12. Easy Apply Transformation:**

Question: If the Easy Apply column contains non-boolean values, how can it be transformed into a usable format?

In [372]:
data['Easy Apply'] = data['Easy Apply'].replace('-1',"FALSE")
data['Easy Apply']

0      TRUE
1      TRUE
2     FALSE
3     FALSE
4     FALSE
5      TRUE
6     FALSE
7     FALSE
8     FALSE
9      TRUE
10     TRUE
11    FALSE
12    FALSE
13     TRUE
14     TRUE
15    FALSE
16    FALSE
17     TRUE
18     TRUE
19     TRUE
20     TRUE
21    FALSE
22     TRUE
23     TRUE
24    FALSE
25     TRUE
27    FALSE
28    FALSE
Name: Easy Apply, dtype: object

**13. Location Accuracy:**

Question: Assess the accuracy of location entries. Are there misspelled or ambiguous locations that require correction?

In [373]:
data['Location'].str.split(",", expand=True) [0].str.replace(r'\sAus', '').str.replace(r'\sIn', '')

<ipython-input-373-6785bd9ed1bd>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  data['Location'].str.split(",", expand=True) [0].str.replace(r'\sAus', '').str.replace(r'\sIn', '')

0         India
1      New York
2      New York
3         India
4     Australia
5         India
6      New York
7     Australia
8      New York
9         India
10        India
11        India
12        India
13    Australia
14    Australia
15    Australia
16        India
17     New York
18     New York
19     New York
20     New York
21     New York
22     New York
23     New York
24     New York
25    Australia
27        India
28    Australia
Name: 0, dtype: object

**14. Handling Categorical Data:**

Question: For categorical indicators, consider encoding or transforming them into a format suitable for analysis.

In [374]:
data

    Index   Age        Salary  Rating   Location Established Easy Apply
0       0  44.0   44000-99000     5.4      India      1999.0       TRUE
1       1  66.0   55000-66000     3.5   New York      2002.0       TRUE
2       2  39.0   77000-89000     1.0   New York        NULL      FALSE
3       3  64.0   44000-99000     4.4      India      1988.0      FALSE
4       4  25.0   44000-99000     6.4  Australia      2002.0      FALSE
5       5  44.0   77000-89000     1.4      India      1999.0       TRUE
6       6  21.0   44000-99000     0.0   New York        NULL      FALSE
7       7  44.0   44000-99000     1.0  Australia        NULL      FALSE
8       8  35.0   44000-99000     5.4   New York        NULL      FALSE
9       9  22.0   44000-99000     7.7      India        NULL       TRUE
10     10  55.0   10000-49000     5.4      India      2008.0       TRUE
11     11  44.0   10000-49000     6.7      India      2009.0      FALSE
12     12  39.0   44000-99000     0.0      India      1999.0      FALSE
13     13  25.0   44000-99000     1.0  Australia      2019.0       TRUE
14     14  66.0   44000-99000     4.0  Australia      2020.0       TRUE
15     15  44.0  88000-101000     3.0  Australia      1999.0      FALSE
16     16  19.0   19000-40000     4.5      India      1984.0      FALSE
17     17  39.0   44000-99000     5.3   New York      1943.0       TRUE
18     18  35.0   44000-99000     6.7   New York      1954.0       TRUE
19     19  32.0   44000-99000     3.3   New York      1955.0       TRUE
20     20  39.0   44000-99000     5.7   New York      1944.0       TRUE
21     21  35.0   44000-99000     5.0   New York      1946.0      FALSE
22     22  19.0   55000-66000     7.8   New York      1988.0       TRUE
23     23  39.0   44000-99000     2.4   New York      1999.0       TRUE
24     24  13.0   44000-99000     1.0   New York      1987.0      FALSE
25     25  55.0   44000-99000     0.0  Australia      1980.0       TRUE
27     27  52.0   44000-99000     5.4      India      1935.0      FALSE
28     28  39.0   39000-88000     3.4  Australia      1932.0      FALSE

**15. Consistent Rating Scale:**

Question: Ensure a consistent rating scale in the Rating column. Should it be normalized or adjusted for uniform analysis?

In [375]:
data['Rating'] = data.Rating.round(decimals = 1).abs().replace('Nan','0')
data = data.dropna(subset=['Rating'])
data['Rating']

0     5.4
1     3.5
2     1.0
3     4.4
4     6.4
5     1.4
6     0.0
7     1.0
8     5.4
9     7.7
10    5.4
11    6.7
12    0.0
13    1.0
14    4.0
15    3.0
16    4.5
17    5.3
18    6.7
19    3.3
20    5.7
21    5.0
22    7.8
23    2.4
24    1.0
25    0.0
27    5.4
28    3.4
Name: Rating, dtype: float64

## **Data Cleaning (chipotle.tsv):**
**Dataset - 2**

In [334]:
df = pd.read_csv('/content/chipotle.csv')

In [335]:
df.values

array([[1, 1, 'Chips and Fresh Tomato Salsa', nan, '$2.39 '],
       [1, 1, 'Izze', '[Clementine]', '$3.39 '],
       [1, 1, 'Nantucket Nectar', '[Apple]', '$3.39 '],
       ...,
       [1834, 1, 'Chicken Salad Bowl',
        '[Fresh Tomato Salsa, [Fajita Vegetables, Pinto Beans, Guacamole, Lettuce]]',
        '$11.25 '],
       [1834, 1, 'Chicken Salad Bowl',
        '[Fresh Tomato Salsa, [Fajita Vegetables, Lettuce]]', '$8.75 '],
       [1834, 1, 'Chicken Salad Bowl',
        '[Fresh Tomato Salsa, [Fajita Vegetables, Pinto Beans, Lettuce]]',
        '$8.75 ']], dtype=object)

**1. Missing Values:**

Question: Check for missing values in each column (Order ID, Quantity, Item Name, Choice Description, Item Price). How should missing values be handled?

In [336]:
df.isnull().sum()

 order_id                0
quantity                 0
item_name                0
choice_description    1246
item_price               0
dtype: int64

In [337]:
df['choice_description'] = df.choice_description.fillna("No Description Available")
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,No Description Available,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,No Description Available,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

**2. Data Types:**

Question: Verify the data types of each column. Do they align with their expected types, and should any adjustments be made?

In [338]:
df.dtypes

 order_id              int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [339]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0    order_id           4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  4622 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

**3. Duplicated Entries:**

Question: Identify and handle duplicated entries in the dataset. How might duplicates impact analysis, and what is the appropriate action?

In [340]:


# Finding and Deleting the Duplicates.
print(df.duplicated().sum())
df.drop_duplicates()

# Reassigning results to a new variable
df_duplicate = df.drop_duplicates()
# modifying the current dataframe
df.drop_duplicates(inplace=True)
print(df)

59
       order_id  quantity                              item_name  \
0             1         1           Chips and Fresh Tomato Salsa
1             1         1                                   Izze
2             1         1                       Nantucket Nectar
3             1         1  Chips and Tomatillo-Green Chili Salsa
4             2         2                           Chicken Bowl
...         ...       ...                                    ...
4617       1833         1                          Steak Burrito
4618       1833         1                          Steak Burrito
4619       1834         1                     Chicken Salad Bowl
4620       1834         1                     Chicken Salad Bowl
4621       1834         1                     Chicken Salad Bowl

                                     choice_description item_price
0                              No Description Available     $2.39
1                                          [Clementine]     $3.39
2                                               [Apple]     $3.39
3                              No Description Available     $2.39
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
...                                                 ...        ...
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...    $11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75

[4563 rows x 5 columns]

**4. Quantity and Item Price:**

Question: Examine the Quantity and Item Price columns. Are there any inconsistencies or anomalies that need correction?

In [341]:
print("Quantity")
print(df['quantity'].value_counts())
print("\nItem Price")
print(df['item_price'].value_counts())
print("\nItem Price")
print(df['item_price'].unique())

Quantity
1     4296
2      224
3       28
4       10
5        1
15       1
7        1
8        1
10       1
Name: quantity, dtype: int64

Item Price
$8.75      719
$11.25     516
$9.25      395
$4.45      344
$8.49      308
          ...
$13.35       1
$7.50        1
$4.36        1
$32.94       1
$11.49       1
Name: item_price, Length: 78, dtype: int64

Item Price
['$2.39 ' '$3.39 ' '$16.98 ' '$10.98 ' '$1.69 ' '$11.75 ' '$9.25 '
 '$4.45 ' '$8.75 ' '$11.25 ' '$8.49 ' '$2.18 ' '$8.99 ' '$1.09 ' '$2.95 '
 '$2.15 ' '$3.99 ' '$22.50 ' '$11.48 ' '$17.98 ' '$17.50 ' '$4.30 '
 '$5.90 ' '$1.25 ' '$23.78 ' '$6.49 ' '$11.08 ' '$1.50 ' '$22.16 '
 '$32.94 ' '$22.20 ' '$10.58 ' '$2.50 ' '$23.50 ' '$7.40 ' '$18.50 '
 '$3.00 ' '$6.78 ' '$11.89 ' '$9.39 ' '$4.00 ' '$3.75 ' '$8.69 ' '$2.29 '
 '$8.90 ' '$3.27 ' '$3.89 ' '$8.19 ' '$35.00 ' '$27.75 ' '$11.80 '
 '$6.00 ' '$26.25 ' '$21.96 ' '$4.36 ' '$7.50 ' '$4.78 ' '$13.35 '
 '$6.45 ' '$5.07 ' '$22.96 ' '$7.17 ' '$7.98 ' '$4.50 ' '$26.07 '
 '$12.98 ' '$35.25 ' '$44.25 ' '$10.50 ' '$33.75 ' '$16.38 ' '$13.52 '
 '$5.00 ' '$15.00 ' '$8.50 ' '$17.80 ' '$1.99 ' '$11.49 ']

**5. Choice Description:**

Question: Analyze the Choice Description column. How should choices be handled, especially when there are multiple descriptions for a single item?

In [342]:
df.choice_description

0                                No Description Available
1                                            [Clementine]
2                                                 [Apple]
3                                No Description Available
4       [Tomatillo-Red Chili Salsa (Hot), [Black Beans...
                              ...
4617    [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...
4618    [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...
4619    [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...
4620    [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...
4621    [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...
Name: choice_description, Length: 4563, dtype: object

In [343]:
print(df['choice_description'].value_counts())

No Description Available                                                                                                                         1228
[Diet Coke]                                                                                                                                       133
[Coke]                                                                                                                                            115
[Sprite]                                                                                                                                           77
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                                                                             41
                                                                                                                                                 ...
[Tomatillo Green Chili Salsa, [Sour Cream, Cheese, Guacamole, Rice, Fajita Vegetables]]                                                             1
[Fresh Tomato Salsa (Mild), [Pinto Beans, Black Beans, Rice, Cheese, Sour Cream, Lettuce]]                                                          1
[[Fresh Tomato Salsa (Mild), Roasted Chili Corn Salsa (Medium), Tomatillo-Red Chili Salsa (Hot)], [Pinto Beans, Cheese, Sour Cream, Lettuce]]       1
[Fresh Tomato (Mild), [Guacamole, Rice, Black Beans]]                                                                                               1
[Tomatillo Green Chili Salsa, [Rice, Fajita Vegetables, Black Beans, Guacamole]]                                                                    1
Name: choice_description, Length: 1044, dtype: int64

In [344]:
df['choice_description']= df['choice_description'].str.replace(r'\[|\]', '').str.split(', ').apply(', '.join)
df

<ipython-input-344-208e572d4355>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['choice_description']= df['choice_description'].str.replace(r'\[|\]', '').str.split(', ').apply(', '.join)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,No Description Available,$2.39
1,1,1,Izze,Clementine,$3.39
2,1,1,Nantucket Nectar,Apple,$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,No Description Available,$2.39
4,2,2,Chicken Bowl,"Tomatillo-Red Chili Salsa (Hot), Black Beans, ...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"Fresh Tomato Salsa, Rice, Black Beans, Sour Cr...",$11.75
4618,1833,1,Steak Burrito,"Fresh Tomato Salsa, Rice, Sour Cream, Cheese, ...",$11.75
4619,1834,1,Chicken Salad Bowl,"Fresh Tomato Salsa, Fajita Vegetables, Pinto B...",$11.25
4620,1834,1,Chicken Salad Bowl,"Fresh Tomato Salsa, Fajita Vegetables, Lettuce",$8.75
4621,1834,1,Chicken Salad Bowl,"Fresh Tomato Salsa, Fajita Vegetables, Pinto B...",$8.75

**6. Handling Special Characters:**

Question: Check for special characters in text-based columns (e.g., Item Name, Choice Description). How can these be addressed for consistency?

In [345]:
df['item_name'] = df['item_name'].replace('[-]'," ",regex=True)
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,No Description Available,$2.39
1,1,1,Izze,Clementine,$3.39
2,1,1,Nantucket Nectar,Apple,$3.39
3,1,1,Chips and Tomatillo Green Chili Salsa,No Description Available,$2.39
4,2,2,Chicken Bowl,"Tomatillo-Red Chili Salsa (Hot), Black Beans, ...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"Fresh Tomato Salsa, Rice, Black Beans, Sour Cr...",$11.75
4618,1833,1,Steak Burrito,"Fresh Tomato Salsa, Rice, Sour Cream, Cheese, ...",$11.75
4619,1834,1,Chicken Salad Bowl,"Fresh Tomato Salsa, Fajita Vegetables, Pinto B...",$11.25
4620,1834,1,Chicken Salad Bowl,"Fresh Tomato Salsa, Fajita Vegetables, Lettuce",$8.75
4621,1834,1,Chicken Salad Bowl,"Fresh Tomato Salsa, Fajita Vegetables, Pinto B...",$8.75

**7. Order Id Integrity:**

Question: Cross-reference the Order ID column for integrity. Are there any irregularities or patterns that need validation?

In [346]:
print("\nUpdated DataFrame:")
print(df)

Updated DataFrame:
       order_id  quantity                              item_name  \
0             1         1           Chips and Fresh Tomato Salsa
1             1         1                                   Izze
2             1         1                       Nantucket Nectar
3             1         1  Chips and Tomatillo Green Chili Salsa
4             2         2                           Chicken Bowl
...         ...       ...                                    ...
4617       1833         1                          Steak Burrito
4618       1833         1                          Steak Burrito
4619       1834         1                     Chicken Salad Bowl
4620       1834         1                     Chicken Salad Bowl
4621       1834         1                     Chicken Salad Bowl

                                     choice_description item_price
0                              No Description Available     $2.39
1                                            Clementine     $3.39
2                                                 Apple     $3.39
3                              No Description Available     $2.39
4     Tomatillo-Red Chili Salsa (Hot), Black Beans, ...    $16.98
...                                                 ...        ...
4617  Fresh Tomato Salsa, Rice, Black Beans, Sour Cr...    $11.75
4618  Fresh Tomato Salsa, Rice, Sour Cream, Cheese, ...    $11.75
4619  Fresh Tomato Salsa, Fajita Vegetables, Pinto B...    $11.25
4620     Fresh Tomato Salsa, Fajita Vegetables, Lettuce     $8.75
4621  Fresh Tomato Salsa, Fajita Vegetables, Pinto B...     $8.75

[4563 rows x 5 columns]

**8. Item Name Standardization:**

Question: Standardize the Item Name column. Are there variations that can be unified for better analysis?

In [347]:
df['item_name'] = df['item_name'].str.strip()
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,No Description Available,$2.39
1,1,1,Izze,Clementine,$3.39
2,1,1,Nantucket Nectar,Apple,$3.39
3,1,1,Chips and Tomatillo Green Chili Salsa,No Description Available,$2.39
4,2,2,Chicken Bowl,"Tomatillo-Red Chili Salsa (Hot), Black Beans, ...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"Fresh Tomato Salsa, Rice, Black Beans, Sour Cr...",$11.75
4618,1833,1,Steak Burrito,"Fresh Tomato Salsa, Rice, Sour Cream, Cheese, ...",$11.75
4619,1834,1,Chicken Salad Bowl,"Fresh Tomato Salsa, Fajita Vegetables, Pinto B...",$11.25
4620,1834,1,Chicken Salad Bowl,"Fresh Tomato Salsa, Fajita Vegetables, Lettuce",$8.75
4621,1834,1,Chicken Salad Bowl,"Fresh Tomato Salsa, Fajita Vegetables, Pinto B...",$8.75

**10. Data Integrity Check:**

Question: Perform a data integrity check by ensuring that quantities and prices align with the corresponding items and descriptions.

In [348]:
data_integrity_check = df.groupby(['item_name','choice_description'])['quantity','item_price'].nunique()
data_integrity_check

<ipython-input-348-6818dcd4e1da>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  data_integrity_check = df.groupby(['item_name','choice_description'])['quantity','item_price'].nunique()

                                                                      quantity  \
item_name         choice_description
6 Pack Soft Drink Coke                                                       1
                  Diet Coke                                                  2
                  Lemonade                                                   1
                  Nestea                                                     1
                  Sprite                                                     1
...                                                                        ...
Veggie Soft Tacos Fresh Tomato Salsa, Black Beans, Cheese, Sour C...         1
                  Fresh Tomato Salsa, Fajita Vegetables, Rice, Bl...         1
                  Roasted Chili Corn Salsa (Medium), Black Beans,...         1
                  Roasted Chili Corn Salsa, Fajita Vegetables, Bl...         1
                  Tomatillo Red Chili Salsa, Fajita Vegetables, R...         1

                                                                      item_price
item_name         choice_description
6 Pack Soft Drink Coke                                                         1
                  Diet Coke                                                    2
                  Lemonade                                                     1
                  Nestea                                                       1
                  Sprite                                                       1
...                                                                          ...
Veggie Soft Tacos Fresh Tomato Salsa, Black Beans, Cheese, Sour C...           1
                  Fresh Tomato Salsa, Fajita Vegetables, Rice, Bl...           1
                  Roasted Chili Corn Salsa (Medium), Black Beans,...           1
                  Roasted Chili Corn Salsa, Fajita Vegetables, Bl...           1
                  Tomatillo Red Chili Salsa, Fajita Vegetables, R...           1

[1868 rows x 2 columns]

**11. Converting to CSV:**

Optional Question: If needed, convert the cleaned dataset to a CSV file using the to_csv function with sep=','.

In [349]:
print(df)

       order_id  quantity                              item_name  \
0             1         1           Chips and Fresh Tomato Salsa
1             1         1                                   Izze
2             1         1                       Nantucket Nectar
3             1         1  Chips and Tomatillo Green Chili Salsa
4             2         2                           Chicken Bowl
...         ...       ...                                    ...
4617       1833         1                          Steak Burrito
4618       1833         1                          Steak Burrito
4619       1834         1                     Chicken Salad Bowl
4620       1834         1                     Chicken Salad Bowl
4621       1834         1                     Chicken Salad Bowl

                                     choice_description item_price
0                              No Description Available     $2.39
1                                            Clementine     $3.39
2                                                 Apple     $3.39
3                              No Description Available     $2.39
4     Tomatillo-Red Chili Salsa (Hot), Black Beans, ...    $16.98
...                                                 ...        ...
4617  Fresh Tomato Salsa, Rice, Black Beans, Sour Cr...    $11.75
4618  Fresh Tomato Salsa, Rice, Sour Cream, Cheese, ...    $11.75
4619  Fresh Tomato Salsa, Fajita Vegetables, Pinto B...    $11.25
4620     Fresh Tomato Salsa, Fajita Vegetables, Lettuce     $8.75
4621  Fresh Tomato Salsa, Fajita Vegetables, Pinto B...     $8.75

[4563 rows x 5 columns]

**12. Handling Categorical Data:**

Question: For categorical columns (e.g., Item Name), consider encoding or transforming them into a format suitable for analysis.

In [350]:
df['item_name']

0                Chips and Fresh Tomato Salsa
1                                        Izze
2                            Nantucket Nectar
3       Chips and Tomatillo Green Chili Salsa
4                                Chicken Bowl
                        ...
4617                            Steak Burrito
4618                            Steak Burrito
4619                       Chicken Salad Bowl
4620                       Chicken Salad Bowl
4621                       Chicken Salad Bowl
Name: item_name, Length: 4563, dtype: object

**13. Consistent Quantity and Price Units:**

Question: Ensure consistency in units for Quantity and Item Price. Should any conversions or adjustments be made for uniform analysis?

These questions guide you through the process of cleaning and preparing the Chipotle dataset using pure pandas, addressing various aspects of data quality and consistency. Feel free to explore the dataset.